/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('https://img.freepik.com/premium-photo/room-with-blue-wall-potted-plants-floor_517312-34963.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Transparent effect for header, footer, and sections */
footer, main section {
    background-color: rgba(255, 255, 255, 0.6); /* Adjust transparency here */
    border-radius: 0px;
    padding: 20px;
    margin: 30px 0; /* Only top and bottom margin */
}

#terms-conditions{
    margin: 30px 500px 30px 0;
}

#cancellation-refund{
    margin: 30px 0px 30px 500px;
}

/* Header Styles */
header {
    text-align: center;
    margin: 0 0 0 0;
    padding: 20px;
    background-color: #e1f4f8;
}

.navbar {
    background: #e1f4f8;
    padding: 15px;
    position: sticky;
    top: 0%;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: #040a1c;
    font-size: large;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background: #256f8a;
    color: #fff;
}

header h1{
    font-size: 3rem;
    color: #363b4b;
}
/* Section Styles */
section {
    margin: 50px;
}

/* Section Titles */
h2 {
    color: #444;
    font-size: large;
}

/* Paragraph and List Styles */
p, li {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #333;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); /* Darker transparent footer */
    color: #fff;

}

/* Additional Styling for Lists */
ul {
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
}
